$nav-height: 60px;

.menu {
  width: 50%;
  margin: 0 0 20px 0;
  padding: 0;
  display: block;
  clear: both;
  height: $nav-height;

  li {
    display: inline-block;
    float: left;
    width: 33.33%;

    a {
      display: inline-block;
      width: 100%;
      line-height: $nav-height;
      text-decoration: none;
      background-color: green;
      font-size: 24px;
      font-weight: bold;
      color: white;
      text-align: center;
      text-transform: uppercase;
      border: 1px solid #000;

      &.active {
        background-color: dimgray;
      }
    }
  }
}
